Frontend/OpenTalk.*/obj
Frontend/OpenTalk.*/bin
Frontend/OpenTalk/obj
Frontend/OpenTalk/bin
.vs
Frontend/packages/cef.redist.x64.79.1.36/.signature.p7s
Frontend/packages/cef.redist.x64.79.1.36/build/cef.redist.x64.props
Frontend/packages/cef.redist.x64.79.1.36/cef.redist.x64.79.1.36.nupkg
Frontend/packages/cef.redist.x64.79.1.36/CEF/cef.pak
Frontend/packages/cef.redist.x64.79.1.36/CEF/cef_100_percent.pak
Frontend/packages/cef.redist.x64.79.1.36/CEF/cef_200_percent.pak
Frontend/packages/cef.redist.x64.79.1.36/CEF/cef_extensions.pak
Frontend/packages/cef.redist.x64.79.1.36/CEF/chrome_elf.dll
Frontend/packages/cef.redist.x64.79.1.36/CEF/d3dcompiler_47.dll
Frontend/packages/cef.redist.x64.79.1.36/CEF/devtools_resources.pak
Frontend/packages/cef.redist.x64.79.1.36/CEF/icudtl.dat
Frontend/packages/cef.redist.x64.79.1.36/CEF/libcef.dll
Frontend/packages/cef.redist.x64.79.1.36/CEF/libEGL.dll
Frontend/packages/cef.redist.x64.79.1.36/CEF/libGLESv2.dll
Frontend/packages/cef.redist.x64.79.1.36/CEF/locales/am.pak
Frontend/packages/cef.redist.x64.79.1.36/CEF/locales/ar.pak
Frontend/packages/cef.redist.x64.79.1.36/CEF/locales/bg.pak
Frontend/packages/cef.redist.x64.79.1.36/CEF/locales/bn.pak
Frontend/packages/cef.redist.x64.79.1.36/CEF/locales/ca.pak
Frontend/packages/cef.redist.x64.79.1.36/CEF/locales/cs.pak
Frontend/packages/cef.redist.x64.79.1.36/CEF/locales/da.pak
Frontend/packages/cef.redist.x64.79.1.36/CEF/locales/de.pak
Frontend/packages/cef.redist.x64.79.1.36/CEF/locales/el.pak
Frontend/packages/cef.redist.x64.79.1.36/CEF/locales/en-GB.pak
Frontend/packages/cef.redist.x64.79.1.36/CEF/locales/en-US.pak
Frontend/packages/cef.redist.x64.79.1.36/CEF/locales/es-419.pak
Frontend/packages/cef.redist.x64.79.1.36/CEF/locales/es.pak
Frontend/packages/cef.redist.x64.79.1.36/CEF/locales/et.pak
Frontend/packages/cef.redist.x64.79.1.36/CEF/locales/fa.pak
Frontend/packages/cef.redist.x64.79.1.36/CEF/locales/fi.pak
Frontend/packages/cef.redist.x64.79.1.36/CEF/locales/fil.pak
Frontend/packages/cef.redist.x64.79.1.36/CEF/locales/fr.pak
Frontend/packages/cef.redist.x64.79.1.36/CEF/locales/gu.pak
Frontend/packages/cef.redist.x64.79.1.36/CEF/locales/he.pak
Frontend/packages/cef.redist.x64.79.1.36/CEF/locales/hi.pak
Frontend/packages/cef.redist.x64.79.1.36/CEF/locales/hr.pak
Frontend/packages/cef.redist.x64.79.1.36/CEF/locales/hu.pak
Frontend/packages/cef.redist.x64.79.1.36/CEF/locales/id.pak
Frontend/packages/cef.redist.x64.79.1.36/CEF/locales/it.pak
Frontend/packages/cef.redist.x64.79.1.36/CEF/locales/ja.pak
Frontend/packages/cef.redist.x64.79.1.36/CEF/locales/kn.pak
Frontend/packages/cef.redist.x64.79.1.36/CEF/locales/ko.pak
Frontend/packages/cef.redist.x64.79.1.36/CEF/locales/lt.pak
Frontend/packages/cef.redist.x64.79.1.36/CEF/locales/lv.pak
Frontend/packages/cef.redist.x64.79.1.36/CEF/locales/ml.pak
Frontend/packages/cef.redist.x64.79.1.36/CEF/locales/mr.pak
Frontend/packages/cef.redist.x64.79.1.36/CEF/locales/ms.pak
Frontend/packages/cef.redist.x64.79.1.36/CEF/locales/nb.pak
Frontend/packages/cef.redist.x64.79.1.36/CEF/locales/nl.pak
Frontend/packages/cef.redist.x64.79.1.36/CEF/locales/pl.pak
Frontend/packages/cef.redist.x64.79.1.36/CEF/locales/pt-BR.pak
Frontend/packages/cef.redist.x64.79.1.36/CEF/locales/pt-PT.pak
Frontend/packages/cef.redist.x64.79.1.36/CEF/locales/ro.pak
Frontend/packages/cef.redist.x64.79.1.36/CEF/locales/ru.pak
Frontend/packages/cef.redist.x64.79.1.36/CEF/locales/sk.pak
Frontend/packages/cef.redist.x64.79.1.36/CEF/locales/sl.pak
Frontend/packages/cef.redist.x64.79.1.36/CEF/locales/sr.pak
Frontend/packages/cef.redist.x64.79.1.36/CEF/locales/sv.pak
Frontend/packages/cef.redist.x64.79.1.36/CEF/locales/sw.pak
Frontend/packages/cef.redist.x64.79.1.36/CEF/locales/ta.pak
Frontend/packages/cef.redist.x64.79.1.36/CEF/locales/te.pak
Frontend/packages/cef.redist.x64.79.1.36/CEF/locales/th.pak
Frontend/packages/cef.redist.x64.79.1.36/CEF/locales/tr.pak
Frontend/packages/cef.redist.x64.79.1.36/CEF/locales/uk.pak
Frontend/packages/cef.redist.x64.79.1.36/CEF/locales/vi.pak
Frontend/packages/cef.redist.x64.79.1.36/CEF/locales/zh-CN.pak
Frontend/packages/cef.redist.x64.79.1.36/CEF/locales/zh-TW.pak
Frontend/packages/cef.redist.x64.79.1.36/CEF/natives_blob.bin
Frontend/packages/cef.redist.x64.79.1.36/CEF/README.txt
Frontend/packages/cef.redist.x64.79.1.36/CEF/snapshot_blob.bin
Frontend/packages/cef.redist.x64.79.1.36/CEF/swiftshader/libEGL.dll
Frontend/packages/cef.redist.x64.79.1.36/CEF/swiftshader/libGLESv2.dll
Frontend/packages/cef.redist.x64.79.1.36/CEF/v8_context_snapshot.bin
Frontend/packages/cef.redist.x86.79.1.36/.signature.p7s
Frontend/packages/cef.redist.x86.79.1.36/build/cef.redist.x86.props
Frontend/packages/cef.redist.x86.79.1.36/cef.redist.x86.79.1.36.nupkg
Frontend/packages/cef.redist.x86.79.1.36/CEF/cef.pak
Frontend/packages/cef.redist.x86.79.1.36/CEF/cef_100_percent.pak
Frontend/packages/cef.redist.x86.79.1.36/CEF/cef_200_percent.pak
Frontend/packages/cef.redist.x86.79.1.36/CEF/cef_extensions.pak
Frontend/packages/cef.redist.x86.79.1.36/CEF/chrome_elf.dll
Frontend/packages/cef.redist.x86.79.1.36/CEF/d3dcompiler_47.dll
Frontend/packages/cef.redist.x86.79.1.36/CEF/devtools_resources.pak
Frontend/packages/cef.redist.x86.79.1.36/CEF/icudtl.dat
Frontend/packages/cef.redist.x86.79.1.36/CEF/libcef.dll
Frontend/packages/cef.redist.x86.79.1.36/CEF/libEGL.dll
Frontend/packages/cef.redist.x86.79.1.36/CEF/libGLESv2.dll
Frontend/packages/cef.redist.x86.79.1.36/CEF/locales/am.pak
Frontend/packages/cef.redist.x86.79.1.36/CEF/locales/ar.pak
Frontend/packages/cef.redist.x86.79.1.36/CEF/locales/bg.pak
Frontend/packages/cef.redist.x86.79.1.36/CEF/locales/bn.pak
Frontend/packages/cef.redist.x86.79.1.36/CEF/locales/ca.pak
Frontend/packages/cef.redist.x86.79.1.36/CEF/locales/cs.pak
Frontend/packages/cef.redist.x86.79.1.36/CEF/locales/da.pak
Frontend/packages/cef.redist.x86.79.1.36/CEF/locales/de.pak
Frontend/packages/cef.redist.x86.79.1.36/CEF/locales/el.pak
Frontend/packages/cef.redist.x86.79.1.36/CEF/locales/en-GB.pak
Frontend/packages/cef.redist.x86.79.1.36/CEF/locales/en-US.pak
Frontend/packages/cef.redist.x86.79.1.36/CEF/locales/es-419.pak
Frontend/packages/cef.redist.x86.79.1.36/CEF/locales/es.pak
Frontend/packages/cef.redist.x86.79.1.36/CEF/locales/et.pak
Frontend/packages/cef.redist.x86.79.1.36/CEF/locales/fa.pak
Frontend/packages/cef.redist.x86.79.1.36/CEF/locales/fi.pak
Frontend/packages/cef.redist.x86.79.1.36/CEF/locales/fil.pak
Frontend/packages/cef.redist.x86.79.1.36/CEF/locales/fr.pak
Frontend/packages/cef.redist.x86.79.1.36/CEF/locales/gu.pak
Frontend/packages/cef.redist.x86.79.1.36/CEF/locales/he.pak
Frontend/packages/cef.redist.x86.79.1.36/CEF/locales/hi.pak
Frontend/packages/cef.redist.x86.79.1.36/CEF/locales/hr.pak
Frontend/packages/cef.redist.x86.79.1.36/CEF/locales/hu.pak
Frontend/packages/cef.redist.x86.79.1.36/CEF/locales/id.pak
Frontend/packages/cef.redist.x86.79.1.36/CEF/locales/it.pak
Frontend/packages/cef.redist.x86.79.1.36/CEF/locales/ja.pak
Frontend/packages/cef.redist.x86.79.1.36/CEF/locales/kn.pak
Frontend/packages/cef.redist.x86.79.1.36/CEF/locales/ko.pak
Frontend/packages/cef.redist.x86.79.1.36/CEF/locales/lt.pak
Frontend/packages/cef.redist.x86.79.1.36/CEF/locales/lv.pak
Frontend/packages/cef.redist.x86.79.1.36/CEF/locales/ml.pak
Frontend/packages/cef.redist.x86.79.1.36/CEF/locales/mr.pak
Frontend/packages/cef.redist.x86.79.1.36/CEF/locales/ms.pak
Frontend/packages/cef.redist.x86.79.1.36/CEF/locales/nb.pak
Frontend/packages/cef.redist.x86.79.1.36/CEF/locales/nl.pak
Frontend/packages/cef.redist.x86.79.1.36/CEF/locales/pl.pak
Frontend/packages/cef.redist.x86.79.1.36/CEF/locales/pt-BR.pak
Frontend/packages/cef.redist.x86.79.1.36/CEF/locales/pt-PT.pak
Frontend/packages/cef.redist.x86.79.1.36/CEF/locales/ro.pak
Frontend/packages/cef.redist.x86.79.1.36/CEF/locales/ru.pak
Frontend/packages/cef.redist.x86.79.1.36/CEF/locales/sk.pak
Frontend/packages/cef.redist.x86.79.1.36/CEF/locales/sl.pak
Frontend/packages/cef.redist.x86.79.1.36/CEF/locales/sr.pak
Frontend/packages/cef.redist.x86.79.1.36/CEF/locales/sv.pak
Frontend/packages/cef.redist.x86.79.1.36/CEF/locales/sw.pak
Frontend/packages/cef.redist.x86.79.1.36/CEF/locales/ta.pak
Frontend/packages/cef.redist.x86.79.1.36/CEF/locales/te.pak
Frontend/packages/cef.redist.x86.79.1.36/CEF/locales/th.pak
Frontend/packages/cef.redist.x86.79.1.36/CEF/locales/tr.pak
Frontend/packages/cef.redist.x86.79.1.36/CEF/locales/uk.pak
Frontend/packages/cef.redist.x86.79.1.36/CEF/locales/vi.pak
Frontend/packages/cef.redist.x86.79.1.36/CEF/locales/zh-CN.pak
Frontend/packages/cef.redist.x86.79.1.36/CEF/locales/zh-TW.pak
Frontend/packages/cef.redist.x86.79.1.36/CEF/natives_blob.bin
Frontend/packages/cef.redist.x86.79.1.36/CEF/README.txt
Frontend/packages/cef.redist.x86.79.1.36/CEF/snapshot_blob.bin
Frontend/packages/cef.redist.x86.79.1.36/CEF/swiftshader/libEGL.dll
Frontend/packages/cef.redist.x86.79.1.36/CEF/swiftshader/libGLESv2.dll
Frontend/packages/cef.redist.x86.79.1.36/CEF/v8_context_snapshot.bin
